<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <form action="/event/create" method="post">
        <div>
            <label>Event Name:</label>
            <input type="text" name="event_name">
        </div>
        <div>
            <label>Description:</label>
            <textarea name="description"></textarea>
        </div>
        <div>
            <label for="date"> Date </label>
            <input type="date" name="date" id="date"/>
        </div>
        <div>
            <label>Location</label>
            <input name="location">
        </div>
        <div>
            <!--members-->
        </div>
        <input type="submit" value="Add">
    </form>

</body>
</html>