<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <br>
    <br>
    <div class="background">
        <h1 class="text-center">Welcome to Event Horizon {{user.first_name}}!</h1>
        <div class="container">
            <a class="btn btn-primary" href="/create">+ Create</a>
            <a class="btn btn-danger float-right" href="/logout">Logout</a>
        </div>
        <div>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>Event Name Name </th>
                            <th>Location Name </th>
                            <th>Attendees</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in user.joined_events %}
                        <tr>
                            {% if session['user_id'] == event.creator.id %}
                            <td>
                                <a href="/details/{{event.id}}">{{event.event_name}}</a></td>
                            <td>{{event.location}}</td>
                            <td>{{event.member_num}}</td>
                            <td>{{event.date}}{{event.time}}</td>
                        </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>