<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class = "navBar">
        <a href="/dashboard">Home</a>
        <a href="/event/new">New</a>
        <a href="/event/bulletin">Bulletin</a>
        <a href="/user/details/{{ session['user_id'] }}">Account</a>
    </div>

    <label>Name:</label>
        <p>{{ user.first_name }}</p>
    <label>Email:</label>
        <p>{{ user.email }}</p>

    {% if session['user_id'] == user.id %}

        <a href=#>Edit</a>

    {% endif %}

    <label>Events</label>
        <p>{{ user.first_name }}</p>



</body>
</html>